@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & display=swap');
@font-face {
    font-family:'Android';
    src: url('idroid.otf') format('opentype');
}


:root{
--cor1:#C5EBD6;
--cor2:#a8f3ca;
--cor3:#84E1AD;
--cor4:#3AD17E;
--cor5:#2FA866;
--cor6:#1A5C38;
--cor7:#5ea0a0;


--font-padrao: arial,verdana,Helvetica, sans-serif;
--font-destaque: Bebas Neue, cursive;
--font-especial: Android, cursive;

}

*{ /*ESSE É UM SELETOR GLOBAL "*", OS ATRIBUTOS DELE SÃO DADOS AS TODAS MARCAÇÕES HTML*/
    margin: 0px;
    padding: 0px;
}


header{
 font-family: var(--font-destaque);
 background-image: linear-gradient(to top,#1A5C38, #a8f3ca);
 text-align: center;
 color: white;
 padding-top: 25px;
 min-height: 80px;
 box-shadow: -2px 3px 4px 1px black ; 
}

body{
 background-color:var(--cor3);
 font-family: Arial, Helvetica, sans-serif;
}

section{
    margin: 0px 10px 10px 10px;
    padding: 5px;
}

nav>a{ 
    text-align: left;
    margin: 9px -6px 0px 0px;
    padding: 0px 10px;
    color: #030210;
    font-size: 1.1em;
    font-style: italic;
    transition-duration: 0.7s; /*ALTERA A VELOCIDADE DE  TRANSIÇÃO DE QUANDO O LINK E VISITADO*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    border-radius: 5px; 
}

nav>a:hover{
    text-decoration: solid;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:var(--cor1);
    font-weight: 900;
    text-shadow: 1px 1px 1px black;  
    background-color: var(--cor1);    
}

a{
 margin: 10px;
}
main{
 background: white;
 margin:0px auto;
 min-width: 220px;
 max-width: 800px;
 box-shadow: 0px 5px 3px 3px;
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
 padding: 5px;
 line-height: 2em;
}

h1.especial{
 font-family: var(--font-especial);
 color:var(--cor6);

}
h2.especial{
 font-family: var(--font-especial);
 font-size: 1em;
 color: var(--cor6);
 background-image: linear-gradient(to right,#a8f3ca,white);
 text-indent: 10px;
 font-weight: normal;
}

.imgespecial{
    width: 97%;
    height: 250px;
    display: block;
    margin: 0px auto;    
}

.imgespecial2{
    display: block;
    margin-left: auto;
    margin-right: auto 
}

aside{
 background-color:var(--cor1);
 border-radius: 10px 10px 10px 10px;
 margin: 10px 0px;
}

h4{
 color: white;
 background-color:var(--cor5);
 padding: 7px 6px;
 border-radius: 10px 10px 0px 0px;
}

p{
 text-align:justify;
 
 text-indent: 2em;
}

div.lista{
    height: auto;
    width: 280px;
    display: inline-block;
    
}
/*NESSE TIPO DE CASO PODERIA TER USADO AS LISTAS "UL", VEJA O EXEMPLO DE COMO FORMATAR ESSA LISTA NO EXERCICIO ABBR*/
div>a{
 margin: 5px 30px;
 text-decoration: underline;
 color: black;
}

div>a:hover{
    font-weight: 600;
    text-decoration: none;
    color:var(--cor7);
    font-size:1.1em ;
}

div>a::before{
 content:'✔\00A0\00A0'; /*PODERIA TER INSERIDO O CODIGO DO EMOJI OU DINGBAT SEM O "U+"*/
}           /*este 00A0 não funciona em todo os navegadores*/

scan{
    color:var(--cor6);
    font-weight:600;
}
main>section>article>p>a{ /*OBSERVE AS ">" INDICANDO UMA TAG DENTRO DA OUTRA, PODERIAMOS TER CRIADO UMA CLASS PARA ISSO MAS USEI APENAS PARA EFEITO DE PRATICA/APRENDIZADO*/
    color:var(--cor6);
    font-weight:600;
    text-decoration: none;    
}

main>section>article>p>a:hover{
    transition-duration: 0.7s;
    color:var(--cor6);
    text-decoration: none;
    font-weight:900 ;    
    border-radius: 5px; 
    background-color: var(--cor2);
    text-decoration: underline;  
}

main>section>article>p>a::after{
    content:'\1F517' ;
}
    
main>section>aside>p>a{ /*OBSERVE AS ">" INDICANDO UMA TAG DENTRO DA OUTRA, PODERIAMOS TER CRIADO UMA CLASS PARA ISSO MAS USEI APENAS PARA EFEITO DE PRATICA/APRENDIZADO*/
    color:var(--cor6);
    font-weight:600;
    text-decoration: none; 
       
}

main>section>aside>p>a:hover{
    color:var(--cor6);
    text-decoration: none;
    font-weight:900 ;
    transition-duration: 0.7s;
    border-radius: 5px; 
    background-color: var(--cor2);
    text-decoration: underline;
  
}

main>section>aside>p>a::after{
    content:'\1F517' ;
}
div.video{
    background-color: var(--cor6);
    margin: 0px 6px;
    padding: 23px;
    padding-bottom: 50%;
    position: relative;
}

div.video>iframe{
    position: absolute;
    top: 5%;
    left: 4%;
    width: 92%;
    height: 92%;
}

.articleframe{
    background-color: var(--cor6);
    margin: 5px;
    padding: 10px;
    height: 330px;
    position: relative;
    
}
footer{
    background-color: var(--cor6);
    text-align: center;
    color:antiquewhite
}
footer>a{
    color:var(--cor3);

}
footer>a:hover{
    text-decoration: none;
    color: white;
    font-size: 1.1em;
}
